@use '../variables.scss' as vars;

.dashboard-title {
    margin: 0;
    margin-bottom: 24px;
    font-family: vars.$fontSemi;
    font-size: 1.625rem;
}

.dashboard-title { 
    font-size: 26px;
    font-family: vars.$fontSemi;
}

@media only screen and (max-width: 1536px) {

  #app .container {
    margin-left: 0;
  }
}