@use '../variables.scss' as vars;

#app {
  display: flex;
  gap: 10%;
  height: 100vh;

  .container {
    position: relative;
    width: calc(100% - 625px);
    height: fit-content;
    margin-left: 6%;
  }
}


@media only screen and (max-width: 1536px) {

  #app .container {
    margin-left: 0;
  }
}