@use '../variables.scss' as vars;

.container {
    position: relative;
    width: calc(100% - 625px);
    height: fit-content;
    margin-left: 6%;
}

.arbo-title {
    position: relative;
    font-family: vars.$fontSemi;
    font-size: 1.625rem;
    margin: 0;
    margin-top: 24px;
}