@charset "UTF-8";
@font-face {
  font-family: "OmnesReg";
  src: url("/src/font/Omnes Regular.ttf");
}
@font-face {
  font-family: "OmnesBold";
  src: url("/src/font/Omnes Bold.ttf");
}
@font-face {
  font-family: "OmnesSemi";
  src: url("/src/font/Omnes SemiBold.ttf");
}
@font-face {
  font-family: "OmnesMed";
  src: url("/src/font/Omnes Medium.ttf");
}
.sidebar {
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 24px;
  box-sizing: content-box;
  border-radius: 20px;
  width: 225px;
  background-color: #6E3DFF;
}

.logo {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  margin-bottom: 4rem;
}

li .link {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 183px;
  height: 41px;
  margin-left: 12px;
  padding-left: 15px;
  background-color: transparent;
  transform: translate(-20%, -20%);
  font-weight: 600;
}
li .link:hover {
  background-color: #EDE8FC;
  color: black;
}
li .link:hover .bi {
  color: black;
}
li .bi-house {
  padding-right: 15px;
  width: 20px;
  height: 20px;
  color: #DFDFDF;
}

li .link {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 183px;
  height: 41px;
  margin-left: 12px;
  padding-left: 15px;
  background-color: transparent;
  transform: translate(-20%, -20%);
  font-weight: 600;
}
li .link:hover {
  background-color: #EDE8FC;
  color: black;
}
li .link:hover .bi {
  color: black;
}
li .bi-grid {
  padding-right: 15px;
  width: 20px;
  height: 20px;
  color: #DFDFDF;
}

li .link {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 183px;
  height: 41px;
  margin-left: 12px;
  padding-left: 15px;
  background-color: transparent;
  transform: translate(-20%, -20%);
  font-weight: 600;
}
li .link:hover {
  background-color: #EDE8FC;
  color: black;
}
li .link:hover .bi {
  color: black;
}
li .bi-diagram-2 {
  padding-right: 15px;
  width: 20px;
  height: 20px;
  color: #DFDFDF;
}

li .link {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 183px;
  height: 41px;
  margin-left: 12px;
  padding-left: 15px;
  background-color: transparent;
  transform: translate(-20%, -20%);
  font-weight: 600;
}
li .link:hover {
  background-color: #EDE8FC;
  color: black;
}
li .link:hover .bi {
  color: black;
}
li .bi-file-text {
  padding-right: 15px;
  width: 20px;
  height: 20px;
  color: #DFDFDF;
}

li .link {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 183px;
  height: 41px;
  margin-left: 12px;
  padding-left: 15px;
  background-color: transparent;
  transform: translate(-20%, -20%);
  font-weight: 600;
}
li .link:hover {
  background-color: #EDE8FC;
  color: black;
}
li .link:hover .bi {
  color: black;
}
li .bi-stars {
  padding-right: 15px;
  width: 20px;
  height: 20px;
  color: #DFDFDF;
}

li {
  box-sizing: content-box;
  list-style-type: none;
}
li .link {
  color: #DFDFDF;
  text-decoration: none;
  font-family: OmnesReg;
  transition: background-color 0.3s;
}

.card {
  display: flex;
  height: fit-content;
  gap: 20px;
  justify-content: center;
  width: fit-content;
}

.dashboard-title {
  margin-top: 24px;
  justify-content: start;
  font-size: 26px;
  font-family: OmnesSemi;
}

.card-avance,
.card-taux {
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: content-box;
  border-radius: 20px;
  width: 17.75rem;
  height: 100px;
  background-color: #EDE8FC;
}
.card-avance svg,
.card-taux svg {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-avance .texte .texte,
.card-taux .texte .texte {
  display: flex;
}
.card-avance .texte p,
.card-taux .texte p {
  margin: 0;
}
.card-avance .texte .titre,
.card-taux .texte .titre {
  font-family: OmnesSemi;
  font-size: 20px;
}
.card-avance .texte .info,
.card-taux .texte .info {
  font-family: OmnesMed;
  position: absolute;
  font-size: 40px;
  padding-top: 46px;
  padding-left: 0px;
}
.card-avance .texte .complement,
.card-taux .texte .complement {
  font-family: OmnesReg;
  position: absolute;
  padding-left: 81px;
  padding-top: 63px;
}

.card-taux .texte .complement {
  padding-left: 111px;
}

.card-reprendre {
  text-align: center;
  width: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: content-box;
  border-radius: 20px;
  width: 385px;
  height: 100px;
  background-color: #EDE8FC;
}
.card-reprendre .titre {
  font-family: OmnesSemi;
  font-size: 20px;
  display: flex;
}
.card-reprendre svg {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-reprendre p {
  width: 268px;
}

.texte {
  display: flex;
  font-family: OmnesSemi;
  font-size: 20px;
  width: 265px;
  text-align: center;
}

#main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("/src/assets/croisé.svg"), url("/src/assets/arc.svg"), url("/src/assets/bord.svg");
  background-attachment: local;
  background-repeat: no-repeat;
  background-position: -1% -1%, 0% 100%, 75% 22%;
}

.home-container {
  width: 1320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 165px;
  height: 663px;
}

.logo-home {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 24px;
}
.logo-home img {
  width: 220px;
  height: auto;
}

.button {
  display: flex;
  gap: 190px;
}

a {
  text-decoration: none;
}

.point-interet {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  border: 1px solid #6E3DFF;
  background-color: #6E3DFF;
  transition: background-color 0.3s ease-out;
  margin: 0;
  text-align: center;
  font-family: OmnesSemi;
  font-weight: 800;
  font-size: 28px;
  color: #DFDFDF;
  transition: color 0.3s ease-out;
}
.point-interet:hover {
  color: #6E3DFF;
}
.point-interet:hover {
  background-color: #DFDFDF;
  border: 1px solid #6E3DFF;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  background-color: #6E3DFF;
}
.photos:hover {
  background-color: #DFDFDF;
  border: 1px solid #6E3DFF;
}
.photos p {
  width: 205px;
  margin: 0;
  text-align: center;
  font-family: OmnesSemi;
  font-weight: 800;
  font-size: 28px;
  color: #DFDFDF;
}
.photos p:hover {
  color: #6E3DFF;
}

#app {
  display: flex;
  gap: 10%;
  height: 100vh;
}
#app .container {
  position: relative;
  width: calc(100% - 625px);
  height: fit-content;
  margin-left: 6%;
}

@media only screen and (max-width: 1536px) {
  #app .container {
    margin-left: 0;
  }
}
.barre-title {
  font-family: OmnesMed;
  font-size: 1.25rem;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 10px;
}

.menu-content {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: content-box;
  width: 62rem;
  height: 3rem;
  background-color: #EDE8FC;
  border-radius: 15px;
  transition: transform 0.3s ease;
}
.menu-content .cat {
  width: 1416px;
  font-family: OmnesMed;
  font-size: 1.125rem;
  margin-left: 1rem;
}
.menu-content .chevron {
  margin-left: 260px;
  margin-right: 20px;
  cursor: pointer;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}
.menu-content .chevron.rotated {
  transform: rotate(90deg);
}
.menu-content .progression {
  box-sizing: content-box;
  border-radius: 24px;
  width: 800px;
  height: 5px;
  background-color: rgba(110, 61, 255, 0.4);
}
.menu-content .slide {
  display: flex;
  box-sizing: content-box;
  background-color: #6E3DFF;
  height: 500px;
  width: 992px;
}
.render.translate {
  transform: translate(0px, 100px);
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-title {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: OmnesSemi;
  font-size: 1.625rem;
}

.fil-ariane p {
  margin: 0;
}
.fil-ariane {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  font-family: OmnesMed;
  font-size: 14px;
}
.fil-ariane .chevron {
  height: auto;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card-title {
  margin: 0;
  font-size: 1.25rem;
  font-family: OmnesMed;
  padding-bottom: 10px;
}

.box .input-contenu {
  border: none;
  margin: 0;
  padding: 5px 20px 0px 20px;
  width: 700px;
  height: 30px;
  font-family: OmnesReg;
  background-color: #EDE8FC;
  resize: none;
  border-radius: 1.25rem;
  outline: 2px solid transparent;
}
.box .input-contenu:focus {
  outline: 2px solid #6E3DFF;
}
.box .input-contenu ::placeholder {
  color: black;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.button-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 24px;
  margin-top: 20px;
}
.button-footer .add {
  width: 182px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #6E3DFF;
  color: #DFDFDF;
  font-family: OmnesSemi;
  transition: color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.button-footer .add:hover {
  color: #6E3DFF;
  background-color: #EDE8FC;
  border: 1px solid #6E3DFF;
  cursor: pointer;
}
.button-footer .next {
  width: 182px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #6E3DFF;
  color: #DFDFDF;
  font-family: OmnesSemi;
  transition: color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.button-footer .next:hover {
  color: #6E3DFF;
  background-color: #EDE8FC;
  border: 1px solid #6E3DFF;
  cursor: pointer;
}

.generate {
  width: 182px;
  height: 50px;
  padding: 0;
  border-radius: 10px;
  border: none;
  background-color: #6E3DFF;
  color: #DFDFDF;
  font-family: OmnesSemi;
  transition: color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.generate:hover {
  color: #6E3DFF;
  background-color: #EDE8FC;
  border: 1px solid #6E3DFF;
  cursor: pointer;
}

.choix-prompt {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.choix-prompt label {
  font-family: OmnesMed;
  margin-bottom: 10px;
}
.choix-prompt select {
  font-family: OmnesReg;
  font-size: 1rem;
  border: none;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}
.choix-prompt select option {
  font-family: OmnesReg;
}

.container {
  position: relative;
  width: calc(100% - 625px);
  height: fit-content;
  margin-left: 6%;
}

.arbo {
  position: relative;
  font-family: OmnesSemi;
  font-size: 1.625rem;
  margin: 0;
  margin-top: 24px;
}

.tox-tinymce {
  width: 1500px;
  margin-bottom: 24px;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #DFDFDF;
  max-height: 100vh;
}

/*# sourceMappingURL=main.css.map */
