@use '../variables.scss' as vars;

.barre-title {
    font-family: vars.$fontMed;
    font-size: 1.25rem;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 10px;
}

.arbo {
    .cat-title {
        display: flex;
        align-items: center;
        gap: 794px;
        
        p {
            width: 121px;
            margin: 0;
        }
    }
}

.parents {
    padding-left: 30px;
    box-sizing: content-box;
    background-color: vars.$card;
    border-radius: 20px;
    width: 990px;
    
    >li.categorie {
        font-family: vars.$fontSemi;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;

        .chevron {
            cursor: pointer;
            transform: rotate(0deg);
            transition: transform 0.3s ease;
        }

        .chevron.rotated {
            transform: rotate(90deg);
            transition: 0.3s ease;
        }

        >ul.sous-cat {
            font-family: vars.$fontMed;
            font-size: 18px;
            padding-top: 5px;
            display: none;

            .sous-cat-title{
                display: flex;
                align-items: center;
                gap: 794px - 65px;
                
                p {
                    width: 146px;
                }
            }

            ul.sous-sous-cat {
                font-family: vars.$fontReg;
                font-size: 16px;
                padding-top: 3px;
                padding-bottom: 10px;
                display: none;

                .sous-sous-cat-title {
                    display: flex;
                    align-items: center;
                    gap: 794px - 248px;

                    p {
                        width: 288px;
                    }
                }

                ul.sous-sous-sous-cat {
                    font-family: vars.$fontLight;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }
    }
}