@use '../variables.scss' as vars;

.barre {
    display: flex;
    justify-content: center;
    width: min-content;
    margin-bottom: 20px;
}

.barre-title {
    font-family: vars.$fontMed;
    font-size: 1.25rem;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 10px;
}


.menu {
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: content-box;
    width: 62rem;
    height: 3rem;
    background-color: vars.$card;
    border-radius: 15px;

    .cat {
        width: 1416px;
        font-family: vars.$fontMed;
        font-size: 1.125rem;
        margin-left: 1rem;
    }

    .chevron {
        margin-left: 260px;
        margin-right: 20px;
        cursor: pointer;
    }

    .progression {
        box-sizing: content-box;
        border-radius: 24px;
        width: 800px;
        height: 5px;
        background-color: vars.$progression;

        .prog {
            font-family: vars.$fontMed;
            font-size: 0.75rem;
        }
    }

    .hidden {
        display: none;
    }

    .tree {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        box-sizing: content-box;
        width: 62rem;
        height: 3rem;
        background-color: vars.$card;
        border-radius: 15px;
    }
}

.sous-cat {
    width: 150px;
    position: relative;
    top: 120px;
    right: 200px;
}