@use '../variables.scss' as vars;

.tree-title {
    margin: 0;
    font-family: vars.$fontSemi;
    font-size: 1.625rem;
}

.barre-title {
    font-family: vars.$fontMed;
    font-size: 1.25rem;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 10px;
}


.arbo {
    .cat-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .routerlink {
            text-decoration: none;
            color: black;
        }
        
        .prog {
            display: inline-block;
            box-sizing: content-box;
            background-color: vars.$main-color ;
            height: 5px;
            width: 200px;
            border-radius: 5px;
            position: absolute;
            left: 52%;
            }

        p {
            margin: 0;
        }
    }
}

.parents {
    padding-left: 30px;
    box-sizing: content-box;
    background-color: vars.$card;
    border-radius: 20px;
    padding-right: 50px;

    &:after {
        bottom: 100%;
    }

    >li.categorie {
        font-family: vars.$fontSemi;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;

        &:after {
            bottom: 100%;
        }

        .chevron {
            cursor: pointer;
            transform: rotate(0deg);
            transition: transform 0.3s ease;
        }

        .chevron.rotated {
            transform: rotate(90deg);
            transition: 0.3s ease;
        }

        >ul.sous-cat {
            font-family: vars.$fontMed;
            font-size: 18px;
            padding-top: 5px;
            display: none;

            .sous-cat-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            ul.sous-sous-cat {
                font-family: vars.$fontReg;
                font-size: 16px;
                padding-top: 3px;
                padding-bottom: 10px;
                display: none;

                .sous-sous-cat-title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                ul.sous-sous-sous-cat {
                    font-family: vars.$fontLight;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }
    }
}