@use '../variables.scss' as vars;

.barre-title {
    font-family: vars.$fontMed;
    font-size: 1.25rem;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 10px;
}


    .menu-content {
        display: flex;
        align-items: center;
        display: flex;
        justify-content: start;
        align-items: center;
        box-sizing: content-box;
        width: 62rem;
        height: 3rem;
        background-color: vars.$card;
        border-radius: 15px;
        transition: transform 0.3s ease;
    .cat {
        width: 1416px;
        font-family: vars.$fontMed;
        font-size: 1.125rem;
        margin-left: 1rem;
    }
    
    .chevron {
        margin-left: 260px;
        margin-right: 20px;
        cursor: pointer;
        flex-shrink: 0;
        transition: transform 0.3s ease;
    }
    
    .chevron.rotated {
        transform: rotate(90deg);
    }
    
    .progression {
        box-sizing: content-box;
        border-radius: 24px;
        width: 800px;
        height: 5px;
        background-color: vars.$progression;
    }
    
    .slide {
        display: flex;
        box-sizing: content-box;
        background-color: vars.$main-color;
        height: 500px;
        width: 992px;
        
    }

    .slide.display {
    }
}


.render.translate {
    transform: translate(0px, 100px) ;
}

