@use '../variables.scss' as vars;
@use '../mixin.scss' as mix;

.dashboard-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    margin-bottom: 24px;
}

.card-avance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: content-box;
    border-radius: 20px;
    width: 34%;
    background-color: vars.$card;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' class='bi bi-file-earmark-check' viewBox='0 0 16 16'%3E%3Cpath d='M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z' /%3E%3Cpath d='M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z' /%3E%3C/svg%3E");
    background-position: top 10px right 10px;
    background-repeat: no-repeat;

    .texte {
        display: flex;
        align-items: center;
        font-family: vars.$fontSemi;
        font-size: 20px;
        width: 100%;
    }

    p {
        margin: 0;
        padding: 10px;
        font-family: vars.$fontSemi;
        font-size: 20px;
    }

    .texte {
        @include mix.text-layout;
    }
}

.card-taux {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: content-box;
    border-radius: 20px;
    width: 34%;
    background-color: vars.$card;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' class='bi bi-graph-up-arrow' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5' /%3E%3C/svg%3E");
    background-position: top 10px right 10px;
    background-repeat: no-repeat;

    .texte {
        display: flex;
        align-items: center;
        font-family: vars.$fontSemi;
        font-size: 20px;
        width: 100%;
    }

    p {
        margin: 0;
        padding: 10px;
        font-family: vars.$fontSemi;
        font-size: 20px;
    }

    .texte {
        @include mix.text-layout;
    }
}

.card-reprendre {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: content-box;
    border-radius: 20px;
    width: 30%;
    background-color: vars.$card;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' class='bi bi-pencil' viewBox='0 0 16 16'%3E%3Cpath d='M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325' /%3E%3C/svg%3E");
    background-position: top 10px right 10px;
    background-repeat: no-repeat;
    
    .titre {
        font-family: vars.$fontSemi;
        font-size: 20px;
    }

    svg {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}