@use '_variables.scss' as vars;

@mixin menu-layout {
    .link {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 10px;
        width: 183px;
        height: 41px;
        margin-left: 12px;
        padding-left: 15px;
        background-color: transparent;
        transform: translate(-20%, -20%);
        font-weight: 600;

        &:hover {
            background-color: vars.$card;
            color: black;

            .bi {
                color: black;
            }
        }
    }
}

@mixin icon {
    padding-right: 15px;
    width: 20px;
    height: 20px;
    color: vars.$background-color;
}


@mixin text-layout {
    .texte {
        display: flex;
    }

    p {
        margin: 0;
    }

    .titre {
        font-family: vars.$fontSemi;
        font-size: 20px;
        //padding-top: 10px;
        //padding-left: 13px;
    }

    .info {
        font-family: vars.$fontMed;
        position: absolute;
        font-size: 40px;
        padding-top: 46px;
        padding-left: 0px;
    }

    .complement {
        font-family: vars.$fontReg;
        position: absolute;
        padding-left: 81px;
        padding-top: 63px;
    }
}