@font-face {
    font-family: "OmnesReg";
    src: url("/src/font/Omnes\ Regular.ttf");
}

@font-face {
    font-family: "OmnesBold";
    src: url("/src/font/Omnes\ Bold.ttf");
}

@font-face {
    font-family: "OmnesSemi";
    src: url("/src/font/Omnes\ SemiBold.ttf");
}

@font-face {
    font-family: "OmnesMed";
    src: url("/src/font/Omnes\ Medium.ttf");
}