@use '_typography.scss';

$main-color: #6E3DFF;
$background-color: #f2f2f2;
$card: #ffffff;
$progression: rgba(110, 61, 255, 0.4);
$fontReg: OmnesReg;
$fontBold: OmnesBold;
$fontSemi: OmnesSemi;
$fontMed: OmnesMed;
$fontLight: OmnesLight;