@use '_typography.scss';

$main-color: #6E3DFF;
$background-color: #DFDFDF;
$card: #EDE8FC;
$progression: rgba(110, 61, 255, 0.4);
$fontReg: OmnesReg;
$fontBold: OmnesBold;
$fontSemi: OmnesSemi;
$fontMed: OmnesMed;
$fontLight: OmnesLight;