@use './layout/sidebar.scss';
@use './layout/card.scss';
@use './pages/home.scss';
@use './pages/dashboard.scss';
@use './layout/barre.scss';
@use './layout/point-interet.scss';
@use './pages/tree.scss';
@use './pages/content.scss';
@use '../scss/variables.scss' as vars;

#app {
  display: flex;
  gap: 10%;
  height: 100vh;

  .container {
    width: 1320px;
  }
}


:root {
  font-size: 16px;
}

body {
  margin: 24px;
  background-color: vars.$background-color;
  max-height: 100vh;
}

