
{% extends 'admin/admin.html.twig' %}

{% block title %}Liste des catégories
{% endblock %}

{% block body %}
	{% block titre_page %}
		<h1 class="title my-4">Liste des catégories</h1>
		<a class="btn btn-primary btn-sm" href={{ path('admin.category.create') }}>Ajouter une catégorie</a>

			<table class="table">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Actions</th>

					</tr>
				</thead>
			<tbody>
		{% for category in category %}
						<tr>
							<td>{{ category.name }}</td>
							<td>
								<a href={{ path('admin.category.edit', { id: category.id } ) }} class="btn btn-primary text-decoration-none me-2">
									<i class="bi bi-pencil"></i>
									Modifier</a>
							</td>
							<td>
								<form action="{{ path('admin.category.delete', {id: category.id}) }}" method="post">
								<input type="hidden" name="_method" value="DELETE">
								<button type="submit" class="btn btn-danger tbn-sm">Supprimer</button>
								</form>
							</td>
						</tr>
		{% endfor %}
			</tbody>
			</table>
	{% endblock %}
{% endblock %}
